asn1crypto
atomicwrites==1.4.0
attrs==19.3.0
Automat
bcrypt
beautifulsoup4
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.0
chardet
click
colorama
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
dnspython==1.16.0
docopt==0.6.2
Flask
Flask-Cors
hyperlink==19.0.0
idna
importlib-metadata
incremental==17.5.0
iniconfig
itsdangerous==1.1.0
Jinja2
lxml==4.5.0
MarkupSafe==1.1.1
more-itertools
packaging
parsel
pipreqs==0.4.10
pluggy==0.13.1
Protego
py
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
PyDispatcher==2.0.5
PyHamcrest
pymongo==3.11.3
pyOpenSSL==19.1.0
pyparsing
PySocks
pytest==6.2.2
pytest-runner
pywin32==227
queuelib==1.5.0
requests
Scrapy==2.0.0
selenium
service-identity==18.1.0
six
soupsieve==2.0.1
toml
Twisted==19.10.0
urllib3
w3lib==1.21.0
Werkzeug
win-inet-pton
wincertstore==0.2
yarg==0.1.9
zipp
zope.interface
